
.advantages {
  text-align: center ;

  background-color: #f2f2f2 ;
  border: 2px dotted blue ;
  box-sizing: border-box;
}

.advantages__header{
  padding-top: 46px ;
  padding-bottom:  46px ;

  background-color: #ffffff ;
}

.advantages__problem{
  margin: 0 ;

  font-family: OpenSans-Light, Arial, sans-serif;
}

.advantages__title{
  font-family: OpenSans-Bold, Arial, sans-serif ;
  font-size: 18px ;
  line-height: 24px ;
  color: #000000 ;
}

.advantages__list{
  list-style: none;
}

.advantages__description{
  font-family: OpenSans, Arial, sans-serif ;
  font-size: 14px ;
  line-height: 24px ;
  color: #283645 ;
}
