.button{
  display: block;
  width: 281px ;
  height: 55px ;
  margin: 28px auto;
  padding-top: 14px ;

  font-family: OpenSans-Bold, Arial, sans-serif ;
  font-size: 18px ;
  color: #ffffff ;
  line-height: 18px ;
  text-align: center;
  text-decoration: none;

  background-color: @very-dark ;
  border: 3px solid #ffffff ;
  border-radius:  26px ;
  box-sizing: border-box;

  &:hover{
    color: @lipstick ;
    background-color: @white ;
  }
  &:active{
    color: @lipstick-transparent30 ;
    background-color: @white ;
  }
}

.button--offer{
  @media (min-width: @tablet-width){
    width: 300px ;
    margin: 0 ;

    background-color: transparent ;
  }

  @media (min-width: @desktop-width){
    font-size: 20px ;
    line-height: 20px ;
    letter-spacing: 0.03em ;
  }
}

.button--editor-post{
  width: 280px;
  padding: 0;
  padding-bottom: 4px;
  margin-left: 18px;
  margin-top: 38px;
  margin-bottom: 0;

  color: @lipstick;

  border-color: @lipstick;
  background-color: @gray;

  &:hover{
    color: @white;

    background-color: @lipstick;
  }

  &:active{
    color: @white-transparent30;
    background-color: @lipstick;
  }

  @media (min-width: @tablet-width){
    width: 260px;
    margin: 0;
    margin-left: 47px;
    padding-right: 5px;
  }

  @media (min-width: @desktop-width){
    width: 183px;
    margin-left: 90px;
    padding-left: 5px;
    padding-right: 0;
  }
}

.button--editor-cancel{
  width: 280px;
  padding: 0;
  padding-bottom: 4px;
  margin-left: 18px;
  margin-top: 12px;

  color: @middle-gray;

  border-color: @middle-gray;
  background-color: @gray;

  &:hover{
    color: @dark-gray;

    background-color: @gray;
    border-color: @dark-gray;
  }

  &:active{
    color: @middle-gray;

    background-color: @dark-gray;
    border-color: @dark-gray;
  }

  @media (min-width: @tablet-width){
    width: 260px;
    margin-top: 24px;
    margin-left: 47px;
    margin-bottom: 0;
  }

  @media (min-width: @desktop-width){
    width: 183px;
    margin-top: 0;
    margin-left: 44px;
  }
}

.button--form{
  width: 280px;
  height: 63px;
  margin: 0;
  margin-left: 20px;
  padding-top: 0;

  text-transform: uppercase;

  border: none ;
  border-radius: 0 ;
  background-color: @green ;
}

.button--popup{
  text-transform: uppercase;

  border: none ;
  border-radius: 0 ;
  background-color: @green ;
}
