.checks-slider{
  padding-top: 1px;
  padding-right: 6px;

  box-sizing: border-box;

  @media(min-width: @desktop-width){
    display: none ;
  }
}

.checks-slider--product{
  @media(min-width: @tablet-width){
    display: none;
  }
}

.checks-slider__controls{
  margin-left: 132px;

  display: flex;
  justify-content: space-between;
  width: 56px;
  height: 12px;

  @media(min-width: @tablet-width){
    margin: auto;
  }
}

.checks-slider__control-item{
  position: relative;
  top: 3px;

  display: block;

  width: 6px;
  height: 6px;

  background-color: @dark-gray;
  border-radius: 50%;
}

.checks-slider__control-item::before{
  visibility: hidden;

  content: "";

  position: absolute;
  z-index: 10;
  top: -3px;
  left: -3px ;

  width: 6px;
  height: 6px;

  background-color: @white;
  border: 3px solid @dark;
  border-radius: 50%;
}

.checks-slider__control-item:hover{
  background-color: @darkest-gray;
}

.checks-slider__control-item:active{
  background-color: @gray;
}

.checks-slider__checkbox:checked~ .checks-slider__control-item::before{
  visibility: visible;
}

.checks-slider__controls--product{
  margin-left: 132px;

  display: flex;
  justify-content: space-between;
  width: 56px;
  height: 12px;

  @media(min-width: @tablet-width){
    margin: auto;
  }
}

.checks-slider__control-item--product{
  position: relative;
  //z-index: 10;
  top: 3px;
  display: block;

  width: 6px;
  height: 6px;

  background-color: @dark-gray;
  border-radius: 50%;
}

.checks-slider__control-item--product::before{
  visibility: hidden;

  content: "";

  position: absolute;
  z-index: 10;
  top: -3px;
  left: -3px ;

  width: 6px;
  height: 6px;

  background-color: @white;
  border: 3px solid @dark;
  border-radius: 50%;
}

.checks-slider__control-item--product:hover{
  background-color: @darkest-gray;
}

.checks-slider__control-item--product:active{
  background-color: @gray;
}

.checks-slider__checkbox--product:checked~ .checks-slider__control-item--product::before{
  visibility: visible;
}
