.contest-form{
  font-family: OpenSans, Arial, sans-serif;
  //временно для разметки:
  background-color: rgba(255, 0, 0, 0.5);

  @media(min-width: @desktop-width){
    width: 940px;
    margin: auto;
  }
}

.contest-form__list{
  margin: 0 ;
  padding: 0 ;
  list-style: none;

  @media(min-width: @tablet-width){
    display: flex;
    flex-direction: column;
  }

  @media(min-width: @desktop-width){
    width: 940px;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: flex-start;
  }
}

.contest-form__appeal{
  width: 320px ;
  min-height: 168px;
  margin: 0 ;
  padding-top: 45px;
  padding-left: 20px;
  padding-right: 20px;
  box-sizing: border-box;

  font-family: OpenSans, Arial, sans-serif;
  font-size: 14px ;
  line-height: 30px ;
  text-align: center;
  color: @dark;

  background-color: @white ;

  @media(min-width: @tablet-width){
    width: 660px;
    min-height: 253px;
  }

  @media(min-width: @desktop-width){
    width: 940px;
  }
}

.contest-form__note{
  font-size: 14px;
  text-transform: uppercase;
  margin: 0;
  margin-top: 40px;
  padding-left: 72px;

  & span{
    color: @lipstick;
  }
}

.contest-form__item{
  margin: 0 ;
  padding: 0 ;
}

.contest-form__item--name{
  @media(min-width: @tablet-width){
    order: 1;
  }
}

.contest-form__item--progress{
  @media(min-width: @tablet-width){
    order: 4;
  }
}

.contest-form__item--number{
  @media(min-width: @tablet-width){
    order: 3;
  }
}

.contest-form__item--app{
  @media(min-width: @tablet-width){
    order: 2;
  }
}

.contest-form__item--popup{
  @media(min-width: @tablet-width){
    order: ;
  }
}

.contest-form__item--effect{
  @media(min-width: @tablet-width){
    order: 5;
  }
}

.contest-form__item--submit{
  display: flex;
  flex-direction: column;

  min-height: 142px;

  background-color: @white;

  @media(min-width: @tablet-width){
    display: flex;
    order: 6;
  }
}
