.contest-effect{
  position: relative;

  width: 320px;
  min-height: 321px;
  padding-left: 20px;
  padding-top: 31px;
  box-sizing: border-box;

  background-color: @white ;
  border: none;

  @media(min-width: @tablet-width){
    width: 620px;
    min-height: 302px;
    margin: auto;
    margin-top: 56px;
    padding-top: 15px;
    padding-left: 58px;

    border: 2px solid @middle-gray;
  }

  @media(min-width: @desktop-width){
    width: 940px;
  }
}

.contest-effect textarea{
  width: 280px;
  min-height: 201px;
  box-sizing: border-box;
  margin-top: 22px;
  padding-top: 14px;
  padding-left: 18px;
  padding-right: 20px;

  font-family: OpenSans, Arial, sans-serif;
  font-size: 18px;
  line-height: 30px;
  text-indent: -4.75em;

  border: 2px solid @dark-gray;

  resize: none;

  @media(min-width: @tablet-width){
    width: 500px;
    min-height: 193px;
    padding-left: 20px;
  }
}

.contest-effect legend{
  position: relative;
  left: -3px;
  top: 37px;

  font-size: 14px;
  color: @lipstick;
  text-align: center;
  text-transform: uppercase;

  @media(min-width: @tablet-width){
    position: static;
  }
}
