.fake-news{
  display: none;

  @media (min-width: @tablet-width) {
      display: flex;
      justify-content: space-between;
      width: 660px ;
      min-height: 412px ;

      background-color: @white ;
    }

  @media (min-width: @desktop-width) {
    display: flex;
    width: 1200px ;
    min-height: 412px ;

    background-color: @gray ;
    }
  }

.fake-news__timer-wrapper{
  @media (min-width: @tablet-width){
    position: relative;

    margin-top: 58px ;
    margin-left: 20px ;

    &::before{
      content: "24" ;

      position: absolute ;
      top: 56px ;
      left: 19px ;
      z-index: 1 ;

      padding-left: 32px ;
      padding-top: 27px ;
      width: 202px ;
      height: 202px ;
      box-sizing: border-box ;

      font-family: OpenSans-Bold, Arial, sans-serif;
      font-size: 97px ;
      line-height: 111px ;
      color: @lipstick ;

      border: 13px solid @lipstick ;
      border-radius: 50% ;

      @media (min-width: @desktop-width){
        top: 69px ;
        left: 21px ;

        padding-left: 41px ;
        padding-top: 47px ;
        width: 254px ;
        height: 254px ;

        font-size: 120px ;
        line-height: 111px ;

        border-width: 17px ;
      }
    }
  }

  @media (min-width: @desktop-width){
    margin-top: 0 ;
    margin-left: 131px ;
  }
}

.fake-news__timer{
  @media (min-width: @tablet-width){
    width:  239px ;
    height: 276px ;

    path {
      fill: #dedede ;
    }
  }

  @media (min-width: @desktop-width){
    width:  298px ;
    height: 345px ;
  }
}

.fake-news__text{
  @media (min-width: @tablet-width){
    flex-basis: 331px ;
    margin-top: 68px ;
    padding-right: 20px ;
    box-sizing: border-box;
  }

  @media (min-width: @desktop-width){
    flex-basis: 526px ;
    margin-top: 62px ;
    margin-right: 178px ;
    padding-right: 0 ;
  }
}

.fake-news__title{
   @media (min-width: @tablet-width){
     margin: 0 ;
     padding-top: 29px ;
     padding-right: 140px ;

     font-family: OpenSans-Bold, Arial, sans-serif;
     font-size: 30px ;
     line-height: 35px ;
     color: @black ;
   }
 }

.fake-news__description{
   @media (min-width: @tablet-width){
     margin: 0 ;
     padding-top: 11px ;
     padding-right: 10px ;

     font-family: OpenSans, Arial, sans-serif;
     font-size: 14px ;
     line-height: 24px ;
     color: @dark ;
   }

   @media (min-width: @desktop-width){
     padding-top: 22px ;
     padding-right: 0 ;

     font-size: 18px ;
     line-height: 30px ;
   }
 }

.fake-news__link{
   @media (min-width: @tablet-width){
     display: inline-block;
     margin-top: 11px ;

     font-family: OpenSans, Arial, sans-serif;
     font-size: 14px ;
     line-height: 24px ;
     color: @lipstick ;
   }

   @media (min-width: @desktop-width){
     padding-top: 19px ;
     padding-right: 0 ;

     font-size: 18px ;
     line-height: 30px ;
   }
 }
