.offer {
  background-color: #1d2631 ;
  color: #ffffff ;
  & a {color: #ffffff ;}
}
.offer__slogan {
  display: block;
  min-height: 462px ;
  background-image: url(../img/bg-back-mobile@1x.jpg);
  background-repeat: no-repeat;
  background-color: #283645 ;
  color: #ffffff ;
}
.offer__header {
 position: relative;

  }
.offer__image{
position: absolute;
top: 176px ;
width: 314px;
height: 320px;
background-image: url(../img/iphone-hand-mobile@1x.png);
background-repeat: no-repeat;
background-color: rgba(255, 0, 0, 0.2);

}
