.os-list {
  display: flex;
  justify-content: space-between;
  min-height: 56px ;
  margin: 0 ;
  padding: 0 ;

  list-style: none;

  background-color: rgba(153, 202, 60, 0.5);
}

.os-list__item a{
  color: yellow ;
}
