.page-footer{
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
  width: 320px;
  min-height: 286px ;
  margin: auto ;
}

.page-footer__item{
  margin-top: 41px ;

  &:nth-child(2){
    margin-top: 35px ;
  }

  &:nth-child(3){
    margin-top: 39px ;
  }
}

@media (min-width: @tablet-width) {
  .page-footer{
    width: 660px ;
    min-height: 128px ;
  }
}

@media (min-width: @desktop-width) {
  .page-footer{
    width: 1200px ;
    min-height: 200px ;
  }
}
