.post{
background-color: #f2f2f2 ;
min-width: 280px ;
}
.post__image{

}
.post__name{
  font-family: OpenSans-Bold ;
  font-size: 14px ;
  line-height: 24px ;
  color: @dark ;
}
.post__time{
  font-family: OpenSans-Light ;
  font-size: 12px ;
  line-height: 24px ;
  color: @dark ;
}
.post__description{
  font-family: OpenSans ;
  font-size: 14px ;
  line-height: 24px ;
  color: @dark ;
}
.post__like{
  font-family: OpenSans ;
  font-size: 12px ;
  line-height: 24px ;
  color: @lipstick ;
}
