.product{
  width: 320px;
  min-height: 472px;

  background-color: @gray ;

  @media(min-width: @tablet-width){
    width: 660px;
  }

  @media(min-width: @desktop-width){
    width: 1200px;
    min-height: 524px;
  }
}

.product__list{
  margin: 0 ;

  list-style: none;
}

.product__name{
  font-family: OpenSans-Bold, Arial, sans-serif;
  color: @white ;

  background-color: @dark ;
}

.product__option{
  font-family: OpenSans, Arial, sans-serif;
  color: @dark ;

  background-color: @white ;
}
