.recent {
box-sizing: border-box;
border: 2px dotted blue;
}
.recent__appeal{
  padding-top: 18px ;
  margin-top: 0 ;
  margin-bottom: 46px ;

  font-family: OpenSans ;
  font-size: 14px ;
  line-height: 30px ;
  color: #283645 ;

  //background-color: rgba(255, 0, 0, 0.5);
}
.recent__list{
  list-style: none;
  margin: 0 ;
}
