.recent{
  background-color: @white ;
}

.recent__appeal{
  display: block;
  min-height: 184px ;
  margin: 0 ;
  padding: 44px 35px ;

  font-family: OpenSans, Arial, sans-serif ;
  font-size: 14px ;
  line-height: 30px ;
  color: @dark ;
  text-align: center ;

  box-sizing: border-box;
  &--bottom{
    padding: 22px 33px ;
  }
}

.recent__list{
  margin: 0 ;
  padding: 0 ;

  list-style: none;
}

.recent__item{
  margin-bottom: 20px ;
  min-height: 300px ;
}

@media (min-width: @tablet-width) {
 .recent__appeal{
   min-height: 228px ;
 }

 .recent__appeal--bottom{
  min-height: 174px ;
 }

 .recent__list{
   display: flex;
   flex-wrap: wrap;
   justify-content: flex-start;

   background-color: rgba(236, 83, 68, 0.5);
 }

 .recent__photo--day{
   width: 660px ;
   min-height: 630px ;
 }

 .recent__item{
   margin-right: 0 ;
   margin-left: 20px ;
   margin-bottom: 20px ;
 }

 .recent__item--day{
   width: 100% ;
   margin: 0 ;
   margin-bottom: 48px ;
 }
}

@media (min-width: @desktop-width) {
  .recent__appeal{
    min-height: 240px ;
  }

  .recent__appeal--bottom{
   min-height: 185px ;
  }

  .recent__list{
    justify-content: center;
  }

  .recent__photo--day{
    width: 1200px ;
    min-height: 600px ;
  }

  .recent__item{
    margin-right: 10px ;
    margin-left:  10px ;
    margin-top: 52px ;
    margin-bottom: 0px ;
  }

  .recent__item--day{
    width: 100% ;
    margin: 0 ;
  }
}
