.reviews{
  background-color: @white ;
}

.reviews__list{
  list-style: none;
}

.reviews__username{
  font-family: OpenSans-Bold, Arial, sans-serif;
}

.reviews__description{
  font-family: OpenSans, Arial, sans-serif;
}
