body{
  //min-width: 320px;
  margin: 0 ;
  padding: 0 ;
}

img {
  max-width: 100%;
  height: auto;
}
/* body * {
  min-height: 30px ;
  //padding: 1px;
  background-color: rgba(215, 90, 134, 0.2);
  //border: 3px solid #9d2650;
  box-sizing: border-box;
}*/
